
body {
  height: 100vh;
}

footer {
  position: relative;
  width: 100%;
  top: auto;
  margin-top: 5rem;
}

.imageDiv {
  position: relative;
  width: 50%;
  height: 60vh;
}

.imageDiv img {
  height: 100%;
  width: 100%;
}

.todoDiv{
  min-height: 50vh;
}

@media only screen and (max-width: 425px) {
  .todoDiv{
    min-height: 40vh;
  }
  
  .imageDiv {
    position: relative;
    width: 100%;
    height: 50%;
  }
  .imageDiv img{
    transform: scale(1.2);
  }
  footer {
    position: relative;
    width: 100%;
  }
}
